body{
	font-family: Comic Sans MS, Helvetica, sans-serif;
	margin: 30px;
	padding: 20px;
	border-style: double;
	border-color: black;
}
button {
    background-color: #4CAF50;
	color: white;
	padding: 2px;
	margin: 8px 0px;
	border: none;
	cursor: pointer;
	width: 10%;
	opacity: 0.9;
	font-size: 15px;
}